* {
  padding: 0;
  margin: 0;
}
.SideMenu {
  height: 100vmax;
  min-width: 16vw;
  /* width: 20vw !important; */
  background-color: #29282c;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  font-weight: bold;
}
